:root {
    --primary-color: #B9001F;
    --secundary-color: #FFFFFF;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}